.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container1 {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 96px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    text-align: center;
}

.hero {
    color: #F9FAF8;
    text-align: center;
    font-size: 48px;
}

.links {
    list-style-type: none;
    padding: 0 96px;
    align-content: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

a {
    color:aliceblue;
    text-decoration: none;
    font-size: xx-large;
}
.footer {
    background-color: #1f2937;
    color: white;
    size: 24px;
}

.quote {
    background-color: #efe7eb;
    color: #1f2937;
    font-size: 24px;
    font-weight: 900;
    padding: 96px;
    text-align: center;
}

button {
    background-color: #3882f6;
    width: 96px;
    height: 40px;
    border-radius: 15px;
}

.button1 {
    color: white;
}

h1 {
    text-align: center;
    font-weight: bold;
}

#text {
    padding: 0 96px;
}

.container2 {
    display: flex;
    flex-direction: column;
    padding: 96px;

}

.hero-container {
    display: flex;
    justify-content: center;
    padding: 24px;
    align-items: center;
    padding: 96px;
    gap: 48px;
}

.CTA {
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    gap: 64px;
    padding: 32px;
    width: auto;
    
}
.CTA-text {
    color: #F9FAF8;
    font-size: 36px;
}
h2 {
    align-self: center;
}
.button2 {
    color: white;
}

img {
    border-radius: 14px;
    width: 500px;
}

.container3 {
    padding: 150px;
    justify-content: center;
}